<%- include("components/header"); -%>

  <h5 class="text-danger">ERROR!</h5>
  <p>
    <%= error %>
  </p>

  <a class="link-danger text-decoration-none" href="/">Go Home</a>
  <%- include("components/footer"); -%>